   body { margin:0; padding:0; font-family: Helvetica, Arial, sans-serif; }

   .header{
    position:absolute;
    top: 0;
    left:0;
    right:0;
    background-color:rgba(20,20,20,.6);
    z-index: 100;
    color:#fff;
    padding:3px;
    line-height: 20px;
   }

    #map { position:absolute; top:0px; bottom:0; width:100%; }

.leaflet-top
{ top:80px;}
    #map-ui {
        position: absolute;
        top: 80px;
        right: 10px;
        z-index: 100;
    }

    #map-ui ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #map-ui a {
        font-size: 13px;
        background: #FFF;
        color: #3C4E5A;
        display: block;
        margin: 0;
        padding: 0;
        border: 1px solid #BBB;
        border-bottom-width: 0;
        min-width: 138px;
        padding: 10px;
        text-decoration: none;
    }

    #map-ui a:hover {
        background: #ECF5FA;
    }

    #map-ui li:last-child a {
        border-bottom-width: 1px;
        -webkit-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
    }

    #map-ui li:first-child a {
        -webkit-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0;
    }

    #map-ui a.active {
        background: #3887BE;
        border-color: #3887BE;
        color: #FFF;
    }

/*.simarker {
  background-color:rgb(250,255,252) ;
  border:2px #fff;
}
*/
/* Marker clusters */

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
    -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s ease-in;
    -moz-transition: -moz-transform 0.2s ease-out, opacity 0.2s ease-in;
    -o-transition: -o-transform 0.2s ease-out, opacity 0.2s ease-in;
    transition: transform 0.2s ease-out, opacity 0.2s ease-in;
}

/*
rgba(88,83,64,1)    rgba(183,174,157,1)    rgba(250,255,252,1)    
rgba(172,206,205,1)    rgba(138,21,27,1)    rgba(188,99,103,1)    

*/
.marker-cluster-small {
    background-color: rgb(88,83,64);
    background-color: rgba(88,83,64,.6);
}
.marker-cluster-small div {
    background-color: rgb(88,83,64);
    background-color: rgba(88,83,64,.6);
}

.marker-cluster-medium {
    background-color: rgb(172,206,205);
    background-color: rgba(172,206,205,.6);
}
.marker-cluster-medium div {
    background-color: rgb(172,206,205);
    background-color: rgba(172,206,205,.6);

}

.marker-cluster-large {
    background-color: rgb(138,21,27);  
    background-color: rgba(138,21,27,.6);  
}
.marker-cluster-large div {
    background-color: rgb(138,21,27);  
    background-color: rgba(138,21,27,.6);  
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
}
.marker-cluster div {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;

    text-align: center;
    border-radius: 15px;
    font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
    line-height: 30px;
}